<!-- Not quite working;   require '_graph' --> 




<div class="hero-unit">
	<h1> Submission Page </h1>

	<p><%= @test_data_from_form %></p>
	<p><%= @whole %></p>

	<p><div class="id"> User Id: <%= current_user.id %> </div> </p>



<p><div class="role"> Your <em>Innovator</em> score is <%= @user.calculate_innovator_score.round(2)%> </div> </p>

<p><div class="role"> Your <em>Broker</em> score is <%= @user.calculate_broker_score.round(2)%> </div> </p>

<p><div class="role"> Your <em>Producer</em>  score is <%= @user.calculate_producer_score.round(2)%> </div> </p>

<p><div class="role"> Your <em>Director</em>  score is <%= @user.calculate_director_score.round(2)%> </div> </p>

<p><div class="role"> Your <em>Monitor</em>  score is <%= @user.calculate_monitor_score.round(2)%> </div> </p>

<p><div class="role"> Your <em>Coordinator</em>  score is <%= @user.calculate_coordinator_score.round(2)%> </div> </p>

<p><div class="role"> Your <em>Facilitator</em>  score is <%= @user.calculate_facilitator_score.round(2)%> </div> </p>

<p><div class="role"> Your <em>Mentor</em>  score is <%= @user.calculate_mentor_score.round(2)%> </div> </p>


</div>

<canvas id="myChart" width="700" height="700"></canvas>
	<script>
					var data = {
				labels : ["Innovator","Broker","Producer","Director","Monitor","Coordinator","Facilitator","Mentor"],
				datasets : [
					{
						fillColor : "rgba(220,220,220,0.5)",
						strokeColor : "rgba(220,220,220,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						data : [4,4,4,4,4,4,4,4]
					},
					{
						fillColor : "rgba(151,187,205,0.5)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						data : [<%= @user.calculate_innovator_score.round(2)%>,<%= @user.calculate_broker_score.round(2)%>,<%= @user.calculate_producer_score.round(2)%>,<%= @user.calculate_director_score.round(2)%>,<%= @user.calculate_monitor_score.round(2)%>,<%= @user.calculate_coordinator_score.round(2)%>,<%= @user.calculate_facilitator_score.round(2)%>,<%= @user.calculate_mentor_score.round(2)%>]
					}
				]
			}
			var ctx = document.getElementById("myChart").getContext("2d");
			new Chart(ctx).Radar(data,{});
	</script>

