<!-- Not quite working -->
<% if user_signed_in? %>

	<h1> Submission Page </h1>

	<p><%= @test_data_from_form %></p>
	<p><%= @whole %></p>
	<p>User Id: <%= current_user.id %></p>

	<p>How come this one<%= Answer.where(current_user.id) %></p>
	<p>Not same as this one?<%= @test %></p>

	<p> Your Innovator score is <%= @user.calculate_innovator_score%></P>

	

<% else %>

	<h1> You must login to submit answers </h1>

<% end %>